<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <title>Tutorial Website</title>
</head>
<body>
    <div >
        <h1 class="mb-4">Add New Tutorial</h1>
        <form action="/tutorials" method="post">
            <div class="">
            <%- include('_form_field') %>
            </div>
        </form>
    </div>

    
</body>
</html>